.r-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}
.logging {
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
}
.r-btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    background: rgb(108, 108, 192);
    border-radius: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.r-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(108, 108, 192);
    transition: transform 150ms;
    transform: scale(1.03);
}

.r-btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.positioning {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1em;
    width: 20rem;
    padding: 0.8em;
    font-size: 1.8em;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}
