body {
    text-align: center;
    color: white;
    background-color: rgb(17, 16, 31);
}

.btn {
    font-size: 2.4rem;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    background: rgb(108, 108, 192);
    border-radius: 4px;
}
